body{
    margin: 0;
    padding: 0;
    background-color: #101922;
    color: #ffffff;
}
header {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.logo1{
    margin-right: 15px;
    width: 34px;
}

p{
    font-size: 18px;
}

header a {
  color: #ffffff;
  padding-right: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
  
}

.img1{
    width: 200px ;
    height: 200px;
    margin: 100px 0 0 100px;
    border-radius: 25px;
    margin-right: 100px;
}
.img2{
    width: 200px;
    height: 200px;
    margin: 100px 0 0 100px;
    border-radius: 69px;
    margin-right: 100px;
}

.mama{
    display: flex;
    width: max-content;
    position: relative;
}
.huiii{
    border-radius: 40px;
    padding: 8px;
    background-color: #283039;
    margin-left: 20px;
}
.button1{
    font-size: 18px;
    color: white;
    border-radius: 35px;
    background-color: #106ac2;
    height: 40px ;
    width: 100px;
}

.left{
    margin-right: 50px;
    border-radius: 33px ;
    background-color: #28313A;
    padding: 10px;
}
.nt{
    position: absolute; 
    bottom: 10px;
    background-color:#1C242C;
    border-radius: 24px;
}
.gt{
    position: absolute; 
    bottom: 10px; 
    margin-left: 30vw;
    width: 274px;
    background-color:#1C242C;
    border-radius: 24px;
}
.gtt{
    position: absolute; 
    bottom: 10px;
    right: 0;
    margin-top: auto;
    background-color:#1C242C;
    border-radius: 24px;
}
input{
    font-size: 14px;
    color: #6b7280;
    background-color: #283039;
    border-radius: 17px;
    height: 33px;
    margin-left:20px;
    margin-bottom: 10px;
    text-align: center;
}
#fio{
    width:271px ;
}
#ser{
    width: 77px;
}
#video{
    display: none;
}

h1{
    margin: 20px;
    color: red;
    font-weight: 900;
    font-size: 64px;
}
#dat{
    width: 271px;
}
.ll{
    margin-top: 17px;
    margin-left: 25px;
    text-align: right;
    width: 148px;
}
h3{
    margin-top: 0;
    margin-bottom: 0;
}
#xv{
    margin-top: 10px;
    box-shadow: 0px 2px 11px 4px #1834C3;
}
#gv{
    box-shadow: 0px 3px 14px 3px #FF0000;
}
#el{
    box-shadow: 0 -2px 15px 5px #0082C0;
}
#tiho{
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}