body{
    margin: 0;
    padding: 0;
    background-color: #101922;
    width: max-content;
    color: #ffffff;
}
header {
    width: 99vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.logo1{
    margin-right: 15px;
    width: 27px;
}
.suka{
    margin-left: 100px;
}
p{  
    font-size: 18px;
    margin-right: 250px;
}
.suka1{
    margin-left: 100px;
}
.news{
    width: 100vw;
    height: 32px;
}
header a {
  color: #ffffff;
  padding-right: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
  
}

.img1{
    width: 181px ;
    height: 229px;
    margin: 100px 0 0 50px;
    border-radius: 25px;
    margin-right: 100px;
}
.img2{
    width: 203px;
    height: 229px;
    margin: 100px 0 0 100px;
    border-radius: 69px;
}

header a:hover {
  background-color: #31313171;
}

.mama{
    width: max-content;

    position: relative;
}

div , .negr{
  display: flex;
  align-items: center;
}
.button1{
    font-size: 18px;
    color: white;
    border-radius: 35px;
    background-color: #106ac2;
    height: 32px ;
    width: 158px;
    margin-left: 60px;
}
#nemnogo{
    margin-left: 170px;
}
#nemnogo1{
    margin-left: 240px;
}
.left{
    margin-right: 50px;
    border-radius: 33px ;
    background-color: #28313A;
    padding: 10px;
}
.nt{
    width: 311px;
    height: 231px ;
    background-color:#0080ff;
}